asgiref==3.4.1
beautifulsoup4==4.9.3
caer==1.9.8
certifi==2020.12.5
chardet==4.0.0
Django==3.2.6
gunicorn==20.1.0
idna==2.10
lxml==4.6.2
mypy==0.910
mypy-extensions==0.4.3
numpy==1.21.2
opencv-contrib-python==4.5.3.56
pytz==2021.1
requests==2.25.1
soupsieve==2.2
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
