{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<h2> Prior Work Experience </h2>
<h3> Machine learning Data Associate </h3>
<h4> AMAZON DEVELOPMENT CENTRE (INDIA) PRIVATE LIMITED </h4>
<p> Oct 2018 - Present </p>
<p> Working at Alexa data services at the world’s most customer-centric company. </p>
<ul>
    <li> Experience in Machine Learning Transcription, Text Annotation and Audio Annotation. </li>
    <li> Star Performer of the month of February 2020 </li>
</ul>

<h3> Trainee </h3>
<h4> Dongwoo Surfacetech India Pvt Ltd </h4>
<p> Nov 2017 - Jun 2018 (8 months) </p>
<p> To ensure the hardness and dimensions of the parts are up to the mark at a formidable Heat Treatment company. </p>
<ul>
    <li> Worked in the Quality Department. </li>
    <li> Recording the results for the above operation in our database and sending the same to the customer </li>
</ul>

{% endblock %}