{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="glass">
                <img class="circle1" src="{{ url_for('static', filename='images/1.jpg')}}">
            </div>
        </div>
        <div class="col">
            <h3> Rahul Harinath </h3>
            <p> Disciplined and enthusiastic Data Associate at
                Amazon Development Centre, Machine Learning Transcription,
                Text Annotation and Audio Annotation. </p>
            <p> I am currently learning Python, MySQL, Tableau Visualization </p>
            <p> Always look on the bright side of life. </p>
            <a href="/experience"> <h6> Prior Work Experience </h6> </a>
            <p> Follow me </p>
            <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
            <p> <a class="badge-base__link LI-simple-link" target="_blank" href="https://in.linkedin.com/in/rahul-harinath?trk=profile-badge"> Follow me on LinkedIn</a> </p>
            <p> <a href="mailto:rahulharinath098@gmail.com"> Email me! </a> </p>
            <p> <a href="tel:8695999446" data-telegram="telegram"> Whatsapp </a> </p>
            <a href="https://twitter.com/Rahul84539485?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @Rahul84539485</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>

{% endblock %}

